/* Uncompiled CSS for tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .pagechange {
      display: block;
      animation: fadeInAnimation ease 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .text-12xl {
    font-size: 15rem;
    line-height: 1;
  }
}
