[Desktop Entry]
Version=1.0
Type=Application
Name=Randomizer
Keywords=Randomizer
Exec=Randomizer
Terminal=false
Icon=Randomizer
StartupNotify=false
StartupWMClass=Randomizer
Categories=Utility;
